= render :partial => 'layouts/admin_nav'

%header.page-header
  .obj_actions
    = link_to t('realms.new_realm'), new_frontend_realm_url, :class => 'button primary', :id => 'new_user_button'
    = link_to t('realms.edit.cancel_editing'), frontend_realm_path(@realm), :class => 'button pill danger', :id => 'new_user_button'
  %h1.realms= @title

%section.content-section
  %header
    %h2= t'realms.edit.properties'

  .content
    = conductor_form_for @realm do |f|
      = render :partial => "form", :locals => { :form => f }
      = f.button :form_buttons, :cancel => frontend_realms_path
