%header.page-header
  %h1.catalog_entries=t('catalog_entries.new.add_catalog_entry')

%section.content-section
  .content
    = conductor_form_for(@deployable, :url => catalog_deployables_path(@catalog.id)) do |f|
      = f.input :name
      = f.input :description, :input_html => { :rows => 2 }
      = f.input :xml, :as => :url_or_file, :url => 'xml_url', :file => 'xml_file'
      = f.input :edit_xml, :as => :boolean, :input_html => { :checked => true }
      = f.button :form_buttons, :cancel => catalog_path(@catalog)
